extends layout

block content
    h1 Who are Motto Labs
    section.css-table
      section.two-column
        section.cell
          h3 History
          p Motto Labs was founded in 2012 by Dan Meierotto with the goal of providing innovative solutions to patient adherence.             
        section.cell
          h3 Motivation
          p We are driven to find ways to help doctors and patients work together to tackle barriers to adherence such as fear, stress and uncertainty.