extends layout

block content
    h1 Improving Patient Medication Adherence
    section.css-table
      section.two-column
        section.cell
          h3 The Problem
          h2 Patients are not following through with doctor prescribed regimen
          p For decades researchers have been searching for ways to improve the level at which a patient follows a prescribed regimen. After all these years there has been little improvement as patients only follow through with approximately fifty percent of the prescribed regimen, be it prescription medicine or exercise programs.  There have been several attempts to improve this level by using approaches such as reminders, pill counters, simplification of regimen, reducing the cost of medications, etc.  However, these approaches, as good as they might be, do not typically address why a patient would not follow their assigned regimen in the first place. If the regimen is good for the patient and will lead to a speedy recovery, why are the adherence levels still so low?           
        section.cell
          h3 The Solution
          h2 Develop a deeper understanding of patient beliefs
          p by simply evaluating a patient’s beliefs in their ability to carry out a regimen and the threat posed by the illness, health care personnel can be provided with a picture of how a patient will adhere. This information can be used to better educate and motivate the patient for adherence. Further trials and testing are needed in order to prove the accuracy of the adherence prediction.          