extends layout

block content
    
    h1 Let's discuss what Glue can do for you!
    section.css-table
      section.one-column
        section.cell.contact-form
            h2 Please Contact Me
            p Fill out the form below and press send. We will contact you as to how we can help you and your patients            
            div
                label Your Name or Practice
                    input[type=text]
            div
                label Your email address
                    input[type=text]    
            div
                label Message
                    textarea(rows=10,cols=100)
            div
                button Send          