extends layout

block content
    h1  Would you like to see better patient adherence?
    section.css-table
      section.two-column
        section.cell
          h2 Use Glue
          p It is likely that more than 50% of your patients do not fully adhere to your prescribed regimen.
          p Glue can help you predict which patients are unlikely to adhere and provide you with ways to improve adherence.
          p Low adherening patients tend to have high cancellation rates.
          p By improving the aherence you can lower cancellations and improve patient health and satisfaction.
        section.cell
          h2 How does it work?
          p Glue provides your patients with a simple 20 question survey that they can fill out in 5 minutes in the waiting room or they can fill it out online before the visit.
          p The survey measures their belief in the threat that the health problem poses and thier ability to cope with the health problem
          p These dimensions tell us how well the patient will adhere so that glue can provide you with a objective measure of patient adherence
          p You can address patient beliefs during the visit, focusing on moving the patient to a higher adherence level
    section.css-table
      section.three-column
        section.cell
          h3 Learn More
          p Sign up here to receive more information about Glue
            input#signup[type=text]
        section.cell
          h3 Take the adherence survey
          p See how your adherence rating looks like compared to others who have taken the 
            a(href='#') test
        section.cell
          h3 Developed by Motto Labs
          p Motto Labs is focused on increasing patient adherence
