!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chunkfive-fontface.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=PT+Sans:400,700')
  body
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/adherence") About Adherence
          li 
            a(href="/contact") Contact   
    

    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p 
                    strong Sign Up
                    <br/> Start using thinkAdherence now
              section.cell
                p 
                    strong Contact Us
                    <br/> Let us know if you have questions
              section.cell
                p 
                    strong About Motto Labs</strong>
                    <br/> More about 
                    a(href="/about") Motto Labs
              section.cell
                p 
                    strong Clients
                    <br/> Who's using thinkAdherence?
